client/src/main/java/server.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.ws.async/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.server.ws.async/" name="ServerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.server.ws.async/" schemaLocation="http://127.0.0.1:9091/Server?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="request">
<part name="parameters" element="tns:request"></part>
</message>
<message name="registry">
<part name="parameters" element="tns:registry"></part>
</message>
<message name="registryResponse">
<part name="parameters" element="tns:registryResponse"></part>
</message>
<message name="response">
<part name="parameters" element="tns:response"></part>
</message>
<message name="responseResponse">
<part name="parameters" element="tns:responseResponse"></part>
</message>
<portType name="Server">
<operation name="request">
<input wsam:Action="http://service.server.ws.async/Server/request" message="tns:request"></input>
</operation>
<operation name="registry">
<input wsam:Action="http://service.server.ws.async/Server/registryRequest" message="tns:registry"></input>
<output wsam:Action="http://service.server.ws.async/Server/registryResponse" message="tns:registryResponse"></output>
</operation>
<operation name="response">
<input wsam:Action="http://service.server.ws.async/Server/responseRequest" message="tns:response"></input>
<output wsam:Action="http://service.server.ws.async/Server/responseResponse" message="tns:responseResponse"></output>
</operation>
</portType>
<binding name="ServerImplPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="request">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
<operation name="registry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="response">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServerImplService">
<port name="ServerImplPort" binding="tns:ServerImplPortBinding">
<soap:address location="http://127.0.0.1:9091/Server"></soap:address>
</port>
</service>
</definitions>